# Node
node_modules/
npm-debug.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Virtual environments
venv/
env/

# Build files
dist/
build/